@font-face {
    font-family: 'MyFontP';
    src: url('../fonts/PressStart2P-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'MyFontPv';
    src: url('../fonts/PixelifySans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.div {
    font-family: 'MyFontPv', Arial, Helvetica, sans-serif;
    background-color: #201DB0;
}

.div_c {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.h2 {
    font-size: 40px;
    padding-top: 20px;
    margin-bottom: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
}

.label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}
  
.input, .textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}